.Mastermind {
    width: 600px;
    margin: 100px;
    text-align: center;
}

.spacer{
    width: 50px;
    height: 60.45px;
}

.board-row {
    height: 60.45px;
}

.victory-screen {
    width: 100%;
    height: 100%;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;

    background-color: #61dafb;
}
.explosion {
    display: flex;
    align-self: center;
    animation-name: explosion-bloom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    align-items: center;

    position: relative;

}

.explosion-img {
    align-self: center;
    position: absolute;
}

.explosion-text-box {
    position: absolute;
    color: black;
    z-index: 100;
}

.explosion-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

@keyframes explosion-bloom {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(5);
    }
}

.defeat-screen {
    width: 100%;
    height: 100%;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;

    background-color: darkred;
}

.outter {
    width: 100%;
    height: 100%;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #282c34;
}

.inner {
    width: 333px;
    height: 624px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.board_table {
    margin: 0 auto;
}

.feedback_table {
    margin-left: 20px;
}

.feedback_table td {
    margin: 0;
    padding: 3px
}

.feedback_cell {
    width: 82px;
    height: 59px;
    padding-left: 32px;
}

.palette_circles {
    margin: 0 auto;
    margin-top: 50px;
}

.status_circles {
    margin: 0 auto;
}

.status_circles td {
    padding: 0 50px;
}

.large_circle {
    width: 50px;
    height: 50px
}

.small_circle {
    width: 15px;
    height: 15px
}

